body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	font-family: 'Play', sans-serif;
	margin: 20px 0;
	color: #555;
}

h4 {
	font-weight: 500;
	color: #555;
}

p {
	font-size: 14px;
}
a {
	color: #754747;
}
a:hover, a:focus {
	text-decoration: none;
	color: #F4D03F;
}
ul, ol {
	list-style: none;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #E75926;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
.jumbotron{
	text-align: center;
	margin-top: 60px;
}
.img-thumbnail{
	background-color: none;
	border: none;
	padding: 0;
}
/* Navigation */
.navbar-inverse {
	text-transform: uppercase;
}
.navbar-inverse .navbar-brand {
	color: #eee;
}
.navbar-inverse .navbar-brand span:hover {
	color: #E75926;
}
.navbar-inverse .navbar-nav li a {
	color: #eee;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-inverse .navbar-nav .open a:hover {
    color: #E75926;
	background-color: transparent;
}
.navbar-inverse .navbar-nav .open a:focus{
	background-color: transparent;
}
@media (max-width: 991px) {
.navbar-inverse .navbar-nav .open .dropdown-menu li a {
    color: #eee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu li a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu li a:hover {
    color: #E75926;
}
.navbar-inverse .nav li a {
	text-align: right;
}
.navbar.navbar-inverse .navbar-collapse {
  border: none;
  box-shadow: none;
  background-color: #363636;
}
.navbar-brand {
	padding-left: 0;
}
}
.navbar-inverse .nav li a:hover, .navbar-inverse .nav li a:focus {
	color: #E75926;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #E75926;
	color: #ffffff;
}
.navbar-inverse i.fa {
	color: #eee;
}
.navbar-toggle {
	border: 0;
}
.dropdown-menu {
	background-color: #363636;
}
.navbar-collapse.collapse ul li a:hover {
	background-color: transparent;
}
.navbar-inverse #logo {
	width: 128px;
	height: auto;
	float: left;
}
/* Intro */
#intro {
	width: 100%;
	padding: 2em 0;
	text-align: center;
	color: #fff;
	background-color: #B39849;
    min-height:100%;
}
#intro .container {
	width: 100%;
}
#intro .row {
	margin: auto;
	width: 100%;
}

#intro h1 {
	font-size: 76px;
	font-weight: 700;
	color: #78C9BC;
	text-shadow: 0 4px 2px #15595F;
	text-transform: uppercase;
	margin-top: 50px;
}


#intro img {
    text-align: center;
	margin-bottom: 5%;
}
#intro img {
    display: inline-block;
    padding-top: 5px;
}
#intro .intro-text {
	font-size: 30px;
	letter-spacing: 1px;
	margin-bottom: 60px;
	margin-top: 40px;
	color: rgba(255,255,255,0.9);
}
.offset-left {
    position:relative;
    left:-50px;
}

.btn-default {
	color: #ffffff;
	background: #78C9BC;
	border: 0;
	padding: 12px 24px;
	margin: 0.5em 1.5em;
	font-size: 18px;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(21,89,95,1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(21,89,95,1);
	box-shadow: 0px 5px 2px 0px rgba(21,89,95,1);
}
.btn-default:hover, .btn-default:focus  {
	color: #ffffff;
	background-color: #15595F;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}
/* Section discover */
#discover {
	background: #f6f6f6;
    min-height: 100%;
}
#discover .tagline {
	background-color: #dde786;
	padding: 20px;
	margin-top: 30px;
	border-radius: 5px;
}
#section1 h3 {
	text-align: center;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
	text-align: justify;
}

#section1 h4 {
	font-size: 20px;
}
#section1 .sub-section h4 {
	margin:	30px 0px 20px;
}

#section1 li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 13px;
}
#section1 li:before {
	content: "✓";
	font-weight: 600;
	padding-right: 10px;
	color: #e75926;
}
#section1 .sub-section {
	text-align: center;
	margin: 20px 0px;
}
#section1 i.fa {
	font-size: 80px;
	color: #C74D00;
	transition: all 0.5s;
}
#section1 .sub-section p {
	text-align: left;
}
#section1 img {
	max-width: 100%
}
/* Section 2 */
#section2 .sub-section {
	padding: 20px 10px;
}
#section2 h2 {
	color: #f6f6f6;
}
#section2 h3 {
	color: #f6f6f6;
	margin-bottom: 20px;
	margin-top: 0;
}
#section2 h4 {
	font-size: 22px;
	color:	#f6f6f6;
}
#section2 .sub-section h4 {
	margin:	30px 0px 20px;
}
#section2 p {
	color: rgba(255,255,255,0.8);
}
#section2 .sub-section p {
	padding: 0px 10px;
}
#section2 .space {
	margin-top: 90px;
}
#section2 i.fa {
	font-size: 80px;
	color: #5D264F;
	transition: all 0.5s;
}
#section2 .jumbotron {
	background: #bca262;
}
#section2 .jumbotron p {
    margin-top: 30px;
}

/* section details */
#details {
    background-color: #B0985C;
    padding-top: 100px;
    min-height: 100%;
}
#details .btn.btn-default {
	margin: 0;
	position: absolute;
	bottom: 0;
	padding: 10px 20px;
	background: #753064;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
	-moz-box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
	box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
}
#details .btn-default:hover, #details .btn-default:focus {
	color: #f6f6f6;
	background: #5D264F;
}	
#details .row.sub-section {
    position: relative;
	padding-bottom: 4em;
	color: #f6f6f6;
}
#details div.col-sm-4.nopos {
	position: static;
}
#details .btn.btn-default.modal-close {
	position: relative;
}
#details .modal-body{

	color: #555;
}
@media (max-width: 768px) {
#details div.col-sm-4.nopos {
	position: relative;
	padding-bottom: 4em;
	padding-top: 50px;
}
#details .row.sub-section {
    position: relative;
	padding-bottom: 2em;
}
#details {
    padding-top: 50px;  
}
}

/* section links */
#links {
    padding-top: 0px;
    min-height: 100%;
}
#links .jumbotron {
	margin-bottom: 60px;
}
#links a.darken {
    display: inline-block;
    background: black;
    padding: 0;
	border-radius: 5px;
}
#links a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
			
}
#links a.darken:hover img {
    opacity: 0.7;
}
@media (max-width: 768px) {
#links .nopos {
	padding-bottom: 3em;
}
}

/* faq */
#faq {
	background: #78C9BC;
	color: #ddd;
    min-height: 100%;
}
#faq h2 {
	color: #f6f6f6;
}
#faq h4{
	color:	#f2f2f2;
}
#faq a{
	color:	#548C83;
}
#faq a:hover, #faq a:focus {
	color:	#C74D00;
}
#faq .panel-title > a
 { 
	color: #f2f2f2;
}
#faq .panel-title a:before {
    content: "\2796";
	margin-right: 5px;	max-width: 40 px;
}	
#faq .panel-title a.collapsed:before {
    content: "\2795";
	margin-right: 5px;	max-width: 40 px;
}
#faq .panel-default {
    margin-bottom: 20px;
}
#faq .panel-default > .panel-heading  {
	background-color: #6ab0a4;
}
#faq .panel-default {
	border-color:  #62a398;
}
#faq .panel-body {
	background-color: #71bdb0;
	color: #f2f2f2;
}
#faq .panel-default>.panel-heading+.panel-collapse>.panel-body  {
	border-top-color: #62a398;
}

/* directions */
.markerWindow h4 {
	color: #a6a6a6;
}
.atelier_view {
	text-align:center;
}
#where  p a {
	color: #c74d00;
}
#where  p a:hover, #where  p a:focus {
	color: #15595F;
}
#where {
	background-color: #C1D6D2;
	padding-bottom: 50px;
}
#where .jumbotron {
	background-color: #B2D1CB;
}

/* Contact Section */
#contact {
	background: #B0985C;
    min-height: 100%;
}
#contact .jumbotron{
	background: #bca262;
	margin-bottom: 50px;	
}
#contact h2 {
	color: #f6f6f6;
}
#contact p{
	color: #e8e8e8;
}
#contact i.fa {
	font-size: 80px;
	color: #5D264F;
	margin-bottom: 20px;
}	
#contact .atelier_view p {	
	font-size: 1.2em;
}
#contact .atelier_view .fa {
    display: block;
}
#contact h3 {
	margin-top: 40px;
	color: #f6f6f6;
	text-align: center;
	}
#contact .btn-default {
	background: #753064;
	border: 0;
	padding: 10px 20px;
	color: #f6f6f6;
	margin: 15px 0 0 0;
	font-size: 15px;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
	-moz-box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
	box-shadow: 0px 5px 2px 0px rgba(93,38,79,.8);
}
#contact .btn-default:hover, #contact .btn-default:focus {
	color: #f6f6f6;
	background: #5D264F;
}
#contact .contact-item {
	padding: 10px;
	margin: 10px;
	height: 100px;
	border-radius: 4px;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #ff3333;
	text-align: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #F5E8C9;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Footer Section*/
#footer {
	background: #333;
	color: #777;
	padding: 20px 0;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover, a:focus {
	color: #e75926;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}

@media (max-width: 768px) {
.hover-bg .hover-text {
	padding: 20%;
}
}

@media (max-width: 640px) {
#intro h1 {
	font-size: 3em;
}
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color:	#000000;
}
.footer p {
  margin: 20px 0;
  text-align: center;
}